/* выпадающий список submenu */
.downdrop:hover .submenu { 
	transform: scaleY(1); 
} 

.submenu {
	margin-left: 6px;
	background: #fff; 
	position: absolute;
	font-weight: normal;
	z-index: 8;
	transition: 0.5s ease-in-out;
	transform: scaleY(0);
	transform-origin: 0 0;	

}


.submenu> li {
	border-top: 1px solid #ffffff;
	white-space: pre;
	padding: 3px 10px;
}


button {
	background: #F6F6f6;
	border: 1px solid #0003;
	text-align: center;
	border-radius: 2px;
	font-weight: bold;
	color: #535353;
	font-size: 14px;
}

.ON { 
	background: #b2db8c; 
}


label {
	margin: 2px 4px;
}

.str> li {
	display: inline-block;
	padding: 0px 2px 1px 2px;
	font-weight: bold;
	color: #535353;
}


input[type="number"] { 
	border: 1px solid #c8c8c866;
	font-size: 14px;
	margin: 2px 0px;
	text-align: center;
	width: 48px; 
}